// @import url(https://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700&subset=latin-ext,cyrillic.css);
//vars
:root {
  --white: #ffffff;
  --black: #000000;
  --primaryColor: #f4e041;
  --secondaryColor: #00bdd3;
  --backgroundColor: #f8f8f8;
  --nunito: "Nunito", sans-serif;
}
